# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/

# Results
*.png
*.pdf
*.log

models/
*.h5

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

DRL-NFV/data_info-20251222T103505Z-1-001.zip
DRL-NFV/data_1_9-20251222T111643Z-3-001.zip