# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Exceptions: Keep directory structure
!data/train/.gitkeep
!data/test/.gitkeep
data/*.png

models/placer/*
models/hrl_final/*
models/ll_pretrained/*
models/vgae_pretrained/*

strategy/hrl.py

results_eval/*
eval_results.csv
logs/*
.history/*

__pycache__/*
strategy/__pycache__
env/__pycache__
